<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ReviewServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>BOOKMARK</param-name>
    <param-value>/WEB-INF/bookmarks.txt</param-value>
  </context-param>
  <listener>
    <listener-class>bookmark.BookmarkInitializer</listener-class>
  </listener>
  <servlet>
    <servlet-name>show</servlet-name>
    <servlet-class>package1.ShowHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>show</servlet-name>
    <url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pet</servlet-name>
    <servlet-class>package1.Pet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pet</servlet-name>
    <url-pattern>/pet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forward</servlet-name>
    <servlet-class>package1.Forward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forward</servlet-name>
    <url-pattern>/forward</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bookmark</servlet-name>
    <servlet-class>bookmark.AddBookmark</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookmark</servlet-name>
    <url-pattern>/bookmark</url-pattern>
  </servlet-mapping>
  
  <filter>
<filter-name>jfinal</filter-name>
<filter-class>com.jfinal.core.JFinalFilter</filter-class>
<init-param>
<param-name>configClass</param-name>
<param-value>studyJfinal.DemoConfig</param-value>
</init-param>
</filter>
<filter-mapping>
<filter-name>jfinal</filter-name>
<url-pattern>/*</url-pattern>
</filter-mapping>

</web-app>